---
parser: babel-eslint
ecmaFeatures:
  jsx: true
  modules: true
env:
  browser: true
  es6: true
  node: true
  jasmine: true
extends:
  eslint:recommended
plugins:
  - react
rules:
  no-console: 1
  semi:
    - 2
    - always
  react/display-name:
    - 2
    -
      acceptTranspilerName: true
  react/jsx-no-duplicate-props:
    - 2
    -
      ignoreCase: true
  react/jsx-no-literals: 2
  react/jsx-no-undef: 2
  react/jsx-sort-prop-types:
    - 0
    -
      ignoreCase: true
  react/jsx-uses-react: 2
  react/jsx-uses-vars: 2
  react/no-did-mount-set-state: 2
  react/no-did-update-set-state: 2
  #react/no-direct-mutation-state: 2
  react/no-unknown-property: 2
  react/prop-types: 2
  react/react-in-jsx-scope: 2
  react/self-closing-comp: 2
  react/wrap-multilines: 2
